.body{
   
    height:100%;
    width: 100%;
    margin-left: 270px;
    z-index:0;
    position:fixed;
    top:0;
    transition:all 0.5s ease;
    background: #f4f7fa;
    padding:0px;
    box-shadow: 5px 0 5px rgba(135, 133, 133, 0.1);
}
