.body{
   
    height:100%;
    width: 100%;
    margin-left: 270px;
    z-index:0;
    position:fixed;
    top:0;
    transition:all 0.5s ease;
    background:rgb(245, 245, 245);
    padding:0px;
    padding-bottom: 50px;
    box-shadow: 5px 0 5px rgba(135, 133, 133, 0.1);
    
}
