<mat-toolbar style="background-color: #444892; height: 50px;">
  <span style="color: white;">Teams</span>
  <span style="margin-left: 25%;">
      <div class="search-bar-container">
          <cds-icon shape="search" class="search-icon"></cds-icon>
          
          <input type="text" class="search-bar" placeholder="Search" >
      </div>
      
  </span>
  <span class="user-profile">
    <div >
      <cds-icon shape="circle" size="30" class="user-circle"></cds-icon>
      <cds-icon shape="user" class="user-icon"></cds-icon>
    </div>
  </span>
  
</mat-toolbar>
