.header{
    z-index: 3;
    height: 50px;
    width: 100%;
    position: fixed;
}

.search-bar-container {
    position: relative;
    display: flex;
    align-items: center;
}

.search-icon {
    position: absolute;
    left: 10px;
    color: #555; 
}
/* style="height:35px;width:500px;border: none; background-color: rgb(245, 245, 245); border-radius: 5px;padding-left: 30px;"> */
.search-bar{
    height: 35px;
    width:500px;
    border:none;
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    padding-left: 30px;
    color:#444892 ;
    

}
.user-icon{
    margin-left: 6px;
}
.user-circle{
    position:absolute
}
.user-profile{
    margin-left: 25%;
    color: white;
}
