.toggle-list {
    /* background-color: aqua; */
    align-items: flex-start;
    

  }
.subnav-header{
  height: 60px;
  border-color:rgb(215, 215, 221);
  border-width: 1px;
  border-bottom-style: solid;
  width: 200px;
  font-size: 18px;
  display: flex;
  flex-direction:row;
  align-items: center;
  color: black;
  font-weight:bold;
  padding-left: 20px;
}
  
  .list-item {
    cursor: pointer;
    margin-bottom: 10px;
    padding: 8px;
    
    
  }
  
  
  .item-content {
    margin-top: 5px;
    padding: 8px;
    margin-left: 40px;
    
  }
  

  
.toggle-icon{
    margin-right: 5px;
}
.toggle-container{
    margin-right: 10px;
    color: white;
    background-color: grey;
    background-size: 50px;
    border-radius: 2px;
    font-size: 40px;
}

.subnav-nav-link{
  display: flex;
  align-items: center;
  font-style: none;
  list-style: none;

}