
<div class="chat-window">
    <app-channel-header></app-channel-header>
    <div class="chat-container">
        <div class="message-list">
            <app-chat-detail></app-chat-detail>
        </div>
        
    </div>



    <form #form="ngForm" (submit)="onSubmit(form)">
        <input type="hidden" name="chatmsgId" [value]="service.formData.chatmsgId">
    <div class="new-message">
        <input class="msg-type"  placeholder="Type your message..." 
        #chatmsg="ngModel" name="chatmsg"
        [(ngModel)]="service.formData.chatmsg">
        <button class="msg-send" type="submit">Send</button>
    </div>
    <input type="hidden" name="msgDate" [value]="service.formData.msgDate">
</form>
</div>



